body{
    font-family: 'Roboto', sans-serif;
}

.page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
h1{
    grid-column: 1/-1;
    text-align: center;
    color: black;
    background-color: mediumaquamarine;
}

.ridinglesson-card{
    border: solid 1px black;
    border-radius: 5px;
    height: 250px;
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: mediumaquamarine;
    text-align: center;
}
.ridinglesson-card{
    display: grid;
    gap: 10px;
}
input{
    width: 100px;
    border-width: 0 0 1px 0;
    padding: 0;
    color: black;
}
